In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"C:\Users\patil\OneDrive\Desktop\Siddhesh\Third Year\Practicals\AcademicPerformance.csv")

In [3]:
df

      gender race/ethnicity parental level of education         lunch
0     female        group B           bachelor's degree      standard  \
1     female        group C                some college      standard
2     female        group B             master's degree      standard
3       male        group A          associate's degree  free/reduced
4       male        group C                some college      standard
...      ...            ...                         ...           ...
2235     NaN            NaN                         NaN           NaN
2236     NaN            NaN                         NaN           NaN
2237     NaN            NaN                         NaN           NaN
2238     NaN            NaN                         NaN           NaN
2239     NaN            NaN                         NaN           NaN

     test preparation course  Year_Birth  math score reading score
0                       none      1970.0        72.0            72  \
1                  completed      1961.0         NaN            na
2                       none      1958.0        90.0            95
3                       none      1967.0         NaN           NaN
4                       none      1989.0        76.0            78
...                      ...         ...         ...           ...
2235                     NaN         NaN         NaN           NaN
2236                     NaN         NaN         NaN           NaN
2237                     NaN         NaN         NaN           NaN
2238                     NaN         NaN         NaN           NaN
2239                     NaN         NaN         NaN           NaN

     writing score Dt_Admission College_Fees
0               74      6/16/14  $84,835.00
1                A      6/15/14  $57,091.00
2               93      5/13/14  $67,267.00
3               44   05-11-2014  $32,474.00
4               75   04-08-2014  $21,474.00
...            ...          ...          ...
2235           NaN          NaN          NaN
2236           NaN          NaN          NaN
2237           NaN          NaN          NaN
2238           NaN          NaN          NaN
2239           NaN          NaN          NaN

[2240 rows x 11 columns]

In [4]:
df.isnull().sum().sum()

13648

In [5]:
print(df)

      gender race/ethnicity parental level of education         lunch
0     female        group B           bachelor's degree      standard  \
1     female        group C                some college      standard
2     female        group B             master's degree      standard
3       male        group A          associate's degree  free/reduced
4       male        group C                some college      standard
...      ...            ...                         ...           ...
2235     NaN            NaN                         NaN           NaN
2236     NaN            NaN                         NaN           NaN
2237     NaN            NaN                         NaN           NaN
2238     NaN            NaN                         NaN           NaN
2239     NaN            NaN                         NaN           NaN

     test preparation course  Year_Birth  math score reading score
0                       none      1970.0        72.0            72  \
1                  completed      1961.0         NaN            na
2                       none      1958.0        90.0            95
3                       none      1967.0         NaN           NaN
4                       none      1989.0        76.0            78
...                      ...         ...         ...           ...
2235                     NaN         NaN         NaN           NaN
2236                     NaN         NaN         NaN           NaN
2237                     NaN         NaN         NaN           NaN
2238                     NaN         NaN         NaN           NaN
2239                     NaN         NaN         NaN           NaN

     writing score Dt_Admission College_Fees
0               74      6/16/14  $84,835.00
1                A      6/15/14  $57,091.00
2               93      5/13/14  $67,267.00
3               44   05-11-2014  $32,474.00
4               75   04-08-2014  $21,474.00
...            ...          ...          ...
2235           NaN          NaN          NaN
2236           NaN          NaN          NaN
2237           NaN          NaN          NaN
2238           NaN          NaN          NaN
2239           NaN          NaN          NaN

[2240 rows x 11 columns]

In [6]:
print(df['math score'])

0       72.0
1        NaN
2       90.0
3        NaN
4       76.0
        ...
2235     NaN
2236     NaN
2237     NaN
2238     NaN
2239     NaN
Name: math score, Length: 2240, dtype: float64

In [7]:
print(df['math score'].isnull())

0       False
1        True
2       False
3        True
4       False
        ...
2235     True
2236     True
2237     True
2238     True
2239     True
Name: math score, Length: 2240, dtype: bool

In [8]:
print(df['reading score'])

0        72
1        na
2        95
3       NaN
4        78
       ...
2235    NaN
2236    NaN
2237    NaN
2238    NaN
2239    NaN
Name: reading score, Length: 2240, dtype: object

In [9]:
print(df['reading score'].isnull())

0       False
1       False
2       False
3        True
4       False
        ...
2235     True
2236     True
2237     True
2238     True
2239     True
Name: reading score, Length: 2240, dtype: bool

In [10]:
print(df['writing score'])

0        74
1         A
2        93
3        44
4        75
       ...
2235    NaN
2236    NaN
2237    NaN
2238    NaN
2239    NaN
Name: writing score, Length: 2240, dtype: object

In [11]:
print(df['reading score'].isnull())

0       False
1       False
2       False
3        True
4       False
        ...
2235     True
2236     True
2237     True
2238     True
2239     True
Name: reading score, Length: 2240, dtype: bool

In [12]:
df = df.dropna()

In [13]:
print(df)

     gender race/ethnicity parental level of education         lunch
0    female        group B           bachelor's degree      standard  \
2    female        group B             master's degree      standard
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
6    female        group B                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  Year_Birth  math score reading score
0                      none      1970.0        72.0            72  \
2                      none      1958.0        90.0            95
4                      none      1989.0        76.0            78
5                      none      1958.0        71.0            83
6                 completed      1954.0        88.0            95
..                      ...         ...         ...           ...
995               completed      1972.0        88.0            99
996                    none      1972.0        62.0            55
997               completed      1972.0        59.0            71
998               completed      1972.0        68.0            78
999                    none      1972.0        77.0            86

    writing score Dt_Admission College_Fees
0              74      6/16/14  $84,835.00
2              93      5/13/14  $67,267.00
4              75   04-08-2014  $21,474.00
5              78      3/17/14  $71,691.00
6              92      1/29/14  $63,564.00
..            ...          ...          ...
995            95      8/24/12  $57,107.00
996            55      8/17/12  $76,467.00
997            65      5/27/14   $76,467.01
998            77      2/23/14  $51,315.00
999            86   01-10-2014  $43,602.00

[993 rows x 11 columns]

In [14]:
df['Year_Birth'] = df['Year_Birth'].astype('str')

In [15]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
Year_Birth                      object
math score                     float64
reading score                   object
writing score                   object
Dt_Admission                    object
College_Fees                    object
dtype: object

In [16]:
df['reading score'] = df['reading score'].astype(float)

In [17]:
df['writing score'] = df['writing score'].astype(float)

In [18]:
print(df)

     gender race/ethnicity parental level of education         lunch
0    female        group B           bachelor's degree      standard  \
2    female        group B             master's degree      standard
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
6    female        group B                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course Year_Birth  math score  reading score
0                      none     1970.0        72.0           72.0  \
2                      none     1958.0        90.0           95.0
4                      none     1989.0        76.0           78.0
5                      none     1958.0        71.0           83.0
6                 completed     1954.0        88.0           95.0
..                      ...        ...         ...            ...
995               completed     1972.0        88.0           99.0
996                    none     1972.0        62.0           55.0
997               completed     1972.0        59.0           71.0
998               completed     1972.0        68.0           78.0
999                    none     1972.0        77.0           86.0

     writing score Dt_Admission College_Fees
0             74.0      6/16/14  $84,835.00
2             93.0      5/13/14  $67,267.00
4             75.0   04-08-2014  $21,474.00
5             78.0      3/17/14  $71,691.00
6             92.0      1/29/14  $63,564.00
..             ...          ...          ...
995           95.0      8/24/12  $57,107.00
996           55.0      8/17/12  $76,467.00
997           65.0      5/27/14   $76,467.01
998           77.0      2/23/14  $51,315.00
999           86.0   01-10-2014  $43,602.00

[993 rows x 11 columns]

In [19]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
Year_Birth                      object
math score                     float64
reading score                  float64
writing score                  float64
Dt_Admission                    object
College_Fees                    object
dtype: object

In [20]:
numeric_cols = df.select_dtypes(include=np.number).columns
print(numeric_cols)

Index(['math score', 'reading score', 'writing score'], dtype='object')

In [21]:
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)][col]
    print(outliers)
    
    if not outliers.empty:
        df[col] = np.where((df[col] < lower_bound) | (df[col] > upper_bound), df[col].median(), df[col])

17     18.0
59      0.0
145    22.0
338    24.0
466    26.0
787    19.0
842    23.0
980     8.0
Name: math score, dtype: float64
59     17.0
76     26.0
211    28.0
327    23.0
596    24.0
980    24.0
Name: reading score, dtype: float64
59     10.0
76     22.0
327    19.0
596    15.0
980    23.0
Name: writing score, dtype: float64

In [22]:
df.shape

(993, 11)

In [23]:
df.iloc[59]

gender                                     male
race/ethnicity                          group A
parental level of education    some high school
lunch                              free/reduced
test preparation course                    none
Year_Birth                               1961.0
math score                                 39.0
reading score                              39.0
writing score                              34.0
Dt_Admission                           11/15/13
College_Fees                        $48,330.00
Name: 61, dtype: object

In [24]:
from datetime import date
df['age'] = date.today().year - df['Year_Birth'].astype(float)

In [25]:
df['Year'] = pd.DatetimeIndex(df['Dt_Admission']).year
df['E_L'] = date.today().year - df['Year']

In [26]:
print(df)

     gender race/ethnicity parental level of education         lunch
0    female        group B           bachelor's degree      standard  \
2    female        group B             master's degree      standard
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
6    female        group B                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course Year_Birth  math score  reading score
0                      none     1970.0        72.0           72.0  \
2                      none     1958.0        90.0           95.0
4                      none     1989.0        76.0           78.0
5                      none     1958.0        71.0           83.0
6                 completed     1954.0        88.0           95.0
..                      ...        ...         ...            ...
995               completed     1972.0        88.0           99.0
996                    none     1972.0        62.0           55.0
997               completed     1972.0        59.0           71.0
998               completed     1972.0        68.0           78.0
999                    none     1972.0        77.0           86.0

     writing score Dt_Admission College_Fees   age  Year  E_L
0             74.0      6/16/14  $84,835.00   53.0  2014    9
2             93.0      5/13/14  $67,267.00   65.0  2014    9
4             75.0   04-08-2014  $21,474.00   34.0  2014    9
5             78.0      3/17/14  $71,691.00   65.0  2014    9
6             92.0      1/29/14  $63,564.00   69.0  2014    9
..             ...          ...          ...   ...   ...  ...
995           95.0      8/24/12  $57,107.00   51.0  2012   11
996           55.0      8/17/12  $76,467.00   51.0  2012   11
997           65.0      5/27/14   $76,467.01  51.0  2014    9
998           77.0      2/23/14  $51,315.00   51.0  2014    9
999           86.0   01-10-2014  $43,602.00   51.0  2014    9

[993 rows x 14 columns]