In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(r"C:\Users\patil\OneDrive\Desktop\Third Year\Practicals\AcademicPerformance.csv")

In [ ]:
print(df)

In [ ]:
df.isnull().sum().sum()

In [ ]:
print(df)

In [ ]:
print(df['math score'])

In [ ]:
print(df['math score'].isnull())

In [ ]:
print(df['reading score'])

In [ ]:
print(df['reading score'].isnull())

In [ ]:
print(df['writing score'])

In [ ]:
print(df['reading score'].isnull())

In [ ]:
df = df.dropna()

In [ ]:
print(df)

In [ ]:
df['Year_Birth'] = df['Year_Birth'].astype('str')

In [ ]:
df.dtypes

In [ ]:
df['reading score'] = df['reading score'].astype(float)

In [ ]:
df['writing score'] = df['writing score'].astype(float)

In [ ]:
print(df)

In [ ]:
df.dtypes

In [ ]:
numeric_cols = df.select_dtypes(include=np.number).columns
print(numeric_cols)

In [ ]:
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)][col]
    print(outliers)
    
    if not outliers.empty:
        df[col] = np.where((df[col] < lower_bound) | (df[col] > upper_bound), df[col].median(), df[col])

In [ ]:
df.shape

In [ ]:
df.iloc[59]

In [ ]:
from datetime import date
df['age'] = date.today().year - df['Year_Birth'].astype(float)

In [ ]:
df['Year'] = pd.DatetimeIndex(df['Dt_Admission']).year
df['E_L'] = date.today().year - df['Year']

In [ ]:
print(df)